body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: hsl(151, 20%, 74%);
}

.App-header {
  background-color: #004d40;
  color: white;
  padding: 20px;
  text-align: center;
}

.App-header h1 {
  margin: 0;
  font-size: 2.5rem;
}

.App-header p {
  font-size: 1.2rem;
  margin-top: 10px;
}

main {
  padding: 20px;
}

.intro-section {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.key-areas-section {
  background-color: #a0d1a8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.key-areas {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.area-card {
  background-color: #e0f7fa;
  padding: 15px;
  border-radius: 8px;
  width: 30%;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.area-card h3 {
  margin-top: 0;
  color: #00796b;
}

.App-footer {
  background-color: #004d40;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}

.footer-icons {
  margin-top: 10px;
}

.footer-icons img {
  height: 40px;
  margin: 0 10px;
}
